<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<h2>filtres</h2>

<%= form_with url: questions_path, method: :get, local: true do |form| %>
  <%= select_tag "tags", options_for_select(Question.tags_options)%>
  <%= form.submit %>
<% end %>

<h2>Liste</h2>

<table>
  <thead>
    <tr>
      <th>Contenu de la question</th>
      <th>Tags</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td>
          <% question.tags.split(',').each do |tag| %>
            <span class="question_tag"><%=tag%></span>
          <% end unless question.tags.nil? %>
        </td>
        <td><%= link_to 'Voir', question %></td>
        <td><%= link_to 'Editer', edit_question_path(question) %></td>
        <td><%= link_to 'Supprimer', question, method: :delete, data: { confirm: 'Etes-vous sûr?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
