<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <p><%= @user.email %></p>
  <strong>Votre identifiant:</strong>
  <p><%= @user.id %></p>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
