<p id="notice"><%= notice %></p>

<h1>Réponses</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @responses.each do |response| %>

    <tr>
      <td><%= response.content %></td>
      <% if response.question %>
          <td><%= link_to response.question.title, response.question %></td>
        <% else %>
          <td>La réponse n'a pas été trouvée</td>
        <% end %>
      <td><%= link_to 'Show', response %></td>
      <td><%= link_to 'Edit', edit_response_path(response) %></td>
      <td><%= link_to 'Destroy', response, method: :delete, data: { confirm: 'Etes-vous sûr?' } %></td>
    </tr>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Response', new_response_path %>
