<p id="notice"><%= notice %></p>

<p>
  <strong>La réponse est:</strong>
  <%= @response.content %>
</p>

<p>
  <strong>Code de la question:</strong>
  <%= @response.question_id %>
</p>

<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
