<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class='navbar'>
      <%= link_to questions_path, class: 'button  button-outline' do %>
        Quiz <small>by Blaise</small>
      <% end %>
      <%= link_to 'Les questions',questions_path, class: 'button  button-clear' %>
      <%= link_to 'Les réponses',responses_path, class: 'button  button-clear' %>
      <%= link_to 'Comptes',users_path, class: 'button  button-clear' %>
    </nav>

   <div class="container">
     <%= yield %>
   </div>

  </body>
</html>
